<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/Layout}">
<head>
<meta charset="UTF-8">
<title>글쓰기</title>
</head>
<body style="background-color: #f9f9f9;">
<div layout:fragment="content">
    <div class="container card my-5 p-3">
   <h3>MULTIBOARD - 글쓰기 </h3>
   <form th:action="@{/board/insert}" method="post" id="writeForm" onsubmit="return form()">
   
      <!-- member_id 숨김 추가 -->
      <input type="hidden" name="member_id" th:value="1">

      <div class="my-3">
        <label for="member" class="form-label">이름</label>
        <input type="text" name="member" id="bname" class="form-control">
      </div>                                                   
      <div class="my-3">
        <label for="btitle" class="form-label">제목</label>
        <input type="text" name="btitle" id="btitle" class="form-control"> 
      </div>   
      <div class="my-3">
        <label for="bpass" class="form-label">비밀번호</label>
        <input type="text" name="bpass" id="bpass" class="form-control"> 
      </div>
      <div class="my-3">
        <label for="bcontent" class="form-label">내용</label>
        <textarea name="bcontent" id="bcontent" cols="60" rows="10" class="form-control"></textarea>
      </div>            
      <div class="my-3">
        <label for="bfile" class="form-label">파일</label>
        <input type="text" name="bfile" id="bfile" class="form-control" th:value="1.png"> 
      </div>   
      <div class="my-3 text-end">
         <input type="submit" value="입력" class="btn btn-primary btn-block">  
         <input type="reset" value="취소" class="btn btn-outline-primary btn-block">
         <a th:href="@{/board/list}" class="btn btn-outline-primary btn-block">목록보기</a>
      </div>   
   </form> <!-- end form -->   

   <script>
   function form(){  
      let bname = document.getElementById("bname");
      let btitle = document.getElementById("btitle");
      let bcontent = document.getElementById("bcontent");
   
      if(bname.value == "") { alert("빈칸입니다"); bname.focus(); return false; }
      if(btitle.value == "") { alert("빈칸입니다"); btitle.focus(); return false; }
      if(bcontent.value == "") { alert("빈칸입니다"); bcontent.focus(); return false; }
   }
   </script>
</div>
</div>
</body>
</html>
