<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dao.BoardDao">

    <insert id="insert" parameterType="BoardDto">
        INSERT INTO sboard (bname, bpass, btitle, bcontent, bip)
        VALUES (#{bname}, #{bpass}, #{btitle}, #{bcontent}, #{bip})
    </insert>

    <update id="update" parameterType="BoardDto">
        UPDATE sboard
        SET bname = #{bname}, bpass = #{bpass},
            btitle = #{btitle}, bcontent = #{bcontent}
        WHERE bno = #{bno}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM sboard WHERE bno = #{no}
    </delete>

    <select id="selectOne" parameterType="int" resultType="BoardDto">
        SELECT * FROM sboard WHERE bno = #{no}
    </select>

    <select id="selectAll" resultType="BoardDto">
        SELECT * FROM sboard ORDER BY bno DESC
    </select>

    <update id="updateBhit" parameterType="int">
        UPDATE sboard SET bhit = bhit + 1 WHERE bno = #{no}
    </update>

</mapper>
