<?xml version="1.0" encoding="UTF-8" ?>
   <!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dao.UserDao">
	<insert id="insert" parameterType="UserDto">
		insert into userinfo (name,age) values(#{name},#{age})
	</insert>
	<update id="update" parameterType="UserDto">
		update userinfo set name = #{name}, age = #{age} where no = #{no}
	</update>
	<delete id="delete" parameterType="UserDto">
		delete from userinfo where no=#{no}
	</delete>

	<select resultType="UserDto" id="selectOne">
		select * from userinfo where no = #{no}
	</select>
	<select resultType="UserDto" id="selectAll">
		select * from userinfo
	</select>
</mapper>
