<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeLeaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragments/Layout}"
> <!-- layout:decorate = "~{fragments/Layout}" fragment 폴더안에 layout 랜더링  -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- layout.html <th:block layout:fragment="content"   /> -->
	<div layout:fragment="content">content</div>
	
</body>
</html>
<!-- localhost:8181/boot1/test3 호출 -->