<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- layout.html
	<th:block th:replace="fragments/header::header" /> 
	-->
	<th:block th:fragment="header">
		<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm">
		  <div class="container-fluid">
		    <a class="navbar-brand fw-bold" th:href="@{/board/list}">Board</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="mynavbar">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" th:href="@{/board/list}">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">회원가입</a>
		        </li>
		      </ul>
		      <form class="d-flex" role="search">
		        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		        <button class="btn btn-outline-dark" type="submit">Search</button>
		      </form>
		    </div>
		  </div>
		</nav>
	</th:block>
</body>
</html>
